.hero{
    &--main{
        background-color: transparent;

        .content{
            @include gap(202);
            align-items: center;
            justify-content: center;

            @include paddingBottom(64);
        }

        &__basis{
            opacity: 0;
            transform: translateY(adaptive(100));
            transition: opacity 1s ease, transform 1s ease;

            &.animated{
                opacity: 1;
                transform: translateY(0);
            }
        }

        &__text{
            align-items: center;
            text-align: center;
        }

        &__b-layer{
            align-self: center;
        }

        &__describe{
            list-style: none;
            counter-reset: item;

            &__el{
                @include flexbox();
                flex-direction: column;
                counter-increment: item;

                &__text{
                    @include flexbox();
                    @include gap(20);
                    flex-direction: column;

                    @include width(300);

                    .line{
                        @include height(1);
                        width: 100%;

                        background-color: #D9D9D9;

                        opacity: 0;
                        transition: opacity 0.4s ease;

                        &.animated{
                            opacity: 1;
                        }
                    }

                    p{
                        @include fontSize(20);
                        font-weight: 500;
                        font-family: Manrope, sans-serif;

                        opacity: 0;
                        transform: translateY(adaptive(40));
                        transition: opacity 1s ease, transform 1s ease;

                        &.animated{
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
            }

            .number{

                @include flexbox();
                align-items: center;

                @include height(69);

                &::before{
                    content: counter(item);

                    @include flexbox();
                    align-items: center;
                    justify-content: center;

                    @include fontSize(46);
                    font-family: Poppins, monospace;
                    font-weight: 500;
                    opacity: 0.6;
                }

                opacity: 0;
                transform: translateY(adaptive(-40));
                transition: opacity 1s ease, transform 1s ease;

                &.animated{
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        + section{
            @include borderRadiusFull(30, 30, 0, 0);
        }
    }

    
}

.spacer--under--main{
    @include height(214);
}