
<section class="hero hero--main">
    <div class="content">
        <div class="hero__basis hero--main__basis">
            <div class="hero__text hero--main__text">
                <h1 class="hero__title">Разработка IT-решений <br> для вашего бизнеса</h1>
                <p class="hero__description">Повышаем эффективность и конкурентноспособность вашей компании через <br> инновационные технологии</p>
            </div>
            <div class="hero__b-layer hero--main__b-layer">
                <button class="button button--white button--icon button--icon--arrow width-280">
                    <p>Начать проект</p>
                </button>
                <button class="button button--white width-240">
                    <p>Наши кейсы</p>
                </button>
            </div>
        </div>
        <ol class="hero__describe hero--main__describe">
            <li class="hero--main__describe__el">
                <div class="number"></div>
                <div class="hero--main__describe__el__text">
                    <div class="line"></div>
                    <p>Быстрый запуск проекта</p>
                </div>
                
            </li>
            <li class="hero--main__describe__el">
                <div class="number"></div>
                <div class="hero--main__describe__el__text">
                    <div class="line"></div>
                    <p>Оперативная поддержка</p>
                </div>
                
            </li>
            <li class="hero--main__describe__el">
                <div class="number"></div>
                <div class="hero--main__describe__el__text">
                    <div class="line"></div>
                    <p>Гарантия качества проекта</p>
                </div>
                
            </li>
            <li class="hero--main__describe__el">
                <div class="number"></div>
                <div class="hero--main__describe__el__text">
                    <div class="line"></div>
                    <p>Индивидуальный подход</p>
                </div>
                
            </li>
        </ol>
    </div>
</section>
