.about-us{
    &__layer{
        @include flexbox();
        @include gap(100);
        align-items: center;
    }

    &__layer > div{
        @include flexbox();
        flex-direction: column;
        @include gap(80);
        opacity: 0;
        transform: translateY(adaptive(40));
        transition: opacity 1s ease, transform 1s ease;
        transition-delay: 0.9s;
    }

    &__image{
        @include width(746);
        @include height(755);
        @include borderRadius(30);
        opacity: 0;
        transform: translateY(adaptive(40));
        transition: opacity 1s ease, transform 1s ease;
        transition-delay: 0.7s;
    }

    &__text{
        @include width(746);
        font-family: 'Manrope';
        font-weight: 500;
        font-style: Medium;
        @include fontSize(22);
        @include lineHeight(36);
        letter-spacing: 0%;
        color: #0D0E0E99;
    }

    &__buttons-container{
        @include flexbox();
        @include gap(30);
    }

    .title{
        opacity: 0;
        transform: translateY(adaptive(-30));
        transition: opacity 0.7s ease, transform 0.7s ease;
    }
}