<section id="about-us" class="about-us">
    <div class="content">
        <div class="title">
            <div class="title__tag">about us</div>
            <h2>О нас</h2>
        </div>
        <div class="about-us__layer">
            <img class="about-us__image" src="./images/about-us-image.png" alt="Lazy Dev logo on a black-blue-white linear gradient">
            <div>
                <p class="about-us__text">
                    Lazy Dev — креативная IT-студия, специализирующаяся на разработке современных digital-продуктов: сайтов, мобильных 
                    и web-приложений, Telegram-ботов и IT-решений под ключ.<br><br>

                    Мы работаем с бизнесом, стартапами и экспертами, помогая превращать идеи в работающие инструменты, которые приносят результат.<br><br>

                    Наша миссия — создавать понятные, эстетичные и эффективные цифровые продукты, которые усиливают бизнес и упрощают взаимодействие с пользователями.
                </p>
                <div class="about-us__buttons-container">
                    <a class="button button--blue width-280">
                        <p>Подробнее</p>
                    </a>
                    <a class="button button--black button--icon button--icon--black button--icon--arrow width-280">
                        <p>Обсудить проект</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>