.big-form{
    .content{
        @include gap(60);
    }

    form{
        @include flexbox();
        justify-content: space-between;

        .input-container{
            @include MaxWidth(746);
        }
    }

    .checkbox-container{
        @include flexbox();
        flex-direction: column;
        @include margin(30, 0, 30, 0);
        @include gap(20);
    }
}

