<section id="big-form" class="big-form">
    <div class="content">
        <div class="title">
            <h2>Расскажите нам свою идею !</h2>
        </div>
        <form>
            <div class="radio-container">
                <div class="radio-group">
                    <h2>Какой проект вам нужен?</h2>
                    <div class="radio-options">
                        <input type="radio" id="web-app" name="project" value="web-app" checked>
                        <label for="web-app">Web - приложение</label>

                        <input type="radio" id="landing" name="project" value="landing">
                        <label for="landing">Лендинг</label>

                        <input type="radio" id="online-store" name="project" value="online-store">
                        <label for="online-store">Интернет - магазин</label>

                        <input type="radio" id="telegram-bot-1" name="project" value="telegram-bot-1">
                        <label for="telegram-bot-1">Telegram - бот</label>

                        <input type="radio" id="telegram-mini" name="project" value="telegram-mini">
                        <label for="telegram-mini">Telegram - mini app</label>

                        <input type="radio" id="ios-app" name="project" value="ios-app">
                        <label for="ios-app">IOS приложение</label>
                    </div>
                </div>
                <div class="radio-group">
                    <h2>Бюджет проекта</h2>
                    <div class="radio-options">
                        <input type="radio" id="50-100" name="budget" value="50-100" checked>
                        <label for="50-100">50 - 100 тыс. ₽</label>

                        <input type="radio" id="100-200" name="budget" value="100-200">
                        <label for="100-200">100 - 200 тыс. ₽</label>

                        <input type="radio" id="200-500" name="budget" value="200-500">
                        <label for="200-500">200 - 500 тыс. ₽</label>

                        <input type="radio" id="more_than_500" name="budget" value="more_than_500">
                        <label for="more_than_500">> 500 тыс. ₽</label>
                    </div>
                </div>
            </div>
            <div class="input-container">
                <div class="text-field text-field--black">
                    <div class="text-field__container">
                        <input class="text-field__input" placeholder=" "></input>
                        <fieldset aria-hidden="true" class="text-field__fieldset">
                            <legend class="text-field__legend">
                                <span>Как к Вам обращаться ?</span>
                            </legend>
                        </fieldset>
                    </div>
                </div>
                <div class="text-field text-field--black">
                    <div class="text-field__container">
                        <input class="text-field__input phone-input" placeholder=" "></input>
                        <fieldset aria-hidden="true" class="text-field__fieldset">
                            <legend class="text-field__legend">
                                <span>Телефон</span>
                            </legend>
                        </fieldset>
                    </div>
                </div>
                <div class="text-field text-field--black">
                    <div class="text-field__container">
                        <textarea class="text-field__input text-field__textarea" placeholder=" "></textarea>
                        <fieldset aria-hidden="true" class="text-field__fieldset">
                            <legend class="text-field__legend">
                                <span>Расскажите о своём проекте ...</span>
                            </legend>
                        </fieldset>
                    </div>
                </div>
                <div class="checkbox-container">
                    <label class="checkbox checkbox--black">
                        <input type="checkbox" class="checkbox__input">
                        <svg class="checkbox__check" viewBox="0 0 128 128" width="26" height="26">
                            <polyline points="106 32 48 91 22 64"></polyline>
                        </svg>
                        <p class="checkbox__label">Я принимаю условия <a href="">обработки персональных данных</a></p>
                    </label>
                    <label class="checkbox checkbox--black">
                        <input type="checkbox" class="checkbox__input">
                        <svg class="checkbox__check" viewBox="0 0 128 128" width="26" height="26">
                            <polyline points="106 32 48 91 22 64"></polyline>
                        </svg>
                        <p class="checkbox__label">Я принимаю условия <a href="">обработки персональных данных</a></p>
                    </label>
                </div>
                <button class="button button--black button--icon button--icon--black button--icon--arrow width-full">Отправить</button>
            </div>
        </form>
    </div>
</section>
