<section id="main-video" class="video">
    <div class="video__container">
        <div class="video__preview">
            <img 
                src="./images/big_preview.png" 
                alt="Video preview" 
                class="video__preview-img"
            />
            <button class="play-button" aria-label="Play video">
            </button>
        </div>

        <iframe 
            src="https://player.vimeo.com/video/412097464?badge=1&amp;autopause=0&amp;title=0&amp;portrait=0&amp;byline=0&amp;player_id=0&amp;app_id=58479"
            allow="autoplay; fullscreen; picture-in-picture" 
            allowfullscreen>
        </iframe>
    </div>
</section>