<section id="reviews-slider" class="reviews-slider">
    <div class="content">
        <div class="title">
            <div class="title__tag">reviews</div>
            <h2>Отзывы наших клиентов</h2>
        </div>
        <div>
        <div class="swiper-container-outer">
        <div class="swiper" id="video-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <iframe
                        src="https://player.vimeo.com/video/76979871?title=0&byline=0&portrait=0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

                <div class="swiper-slide">
                    <iframe
                        src="https://player.vimeo.com/video/76979871?title=0&byline=0&portrait=0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

                <div class="swiper-slide">
                    <iframe
                        src="https://player.vimeo.com/video/76979871?title=0&byline=0&portrait=0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

                <div class="swiper-slide">
                    <iframe
                        src="https://player.vimeo.com/video/76979871?title=0&byline=0&portrait=0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

                <div class="swiper-slide">
                    <iframe
                        src="https://player.vimeo.com/video/76979871?title=0&byline=0&portrait=0"
                        allow="autoplay; fullscreen; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>

            </div>
        </div>
        </div>
        <div class="slider-controls">
            <div class="custom-pagination" id="video-pagination"></div>
            <div class="navigation-buttons">
                <button class="slider-button" id="prev-video"></button>
                <button class="slider-button" id="next-video"></button>
            </div>
        </div>
    </div>
</section>