<section id="reviews-slider" class="reviews-slider">
    <div class="content">
        <div class="title">
            <div class="title__tag">reviews</div>
            <h2>Отзывы наших клиентов</h2>
        </div>
        <div>
        <div class="swiper-container-outer">
        <div class="swiper" id="video-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide video--mini">
                    <div class="video__container">
                        <div class="video__preview">
                            <img 
                                src="./images/small_preview.png" 
                                alt="Video preview" 
                                class="video__preview-img"
                            />
                            <button class="play-button" aria-label="Play video">
                            </button>

                            <div class="video__preview__title">
                                <p>Макан Братов</p>
                                <p>CEO ООО “M5 F90”</p>
                            </div>
                        </div>

                        <iframe 
                            src="https://player.vimeo.com/video/76979871?badge=1&amp;autopause=0&amp;title=0&amp;portrait=0&amp;byline=0&amp;player_id=0&amp;app_id=58479"
                            allow="autoplay; fullscreen; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>

                <div class="swiper-slide video--mini">
                    <div class="video__container">
                        <div class="video__preview">
                            <img 
                                src="./images/small_preview.png" 
                                alt="Video preview" 
                                class="video__preview-img"
                            />
                            <button class="play-button" aria-label="Play video">
                            </button>

                            <div class="video__preview__title">
                                <p>Макан Братов</p>
                                <p>CEO ООО “M5 F90”</p>
                            </div>
                        </div>

                        <iframe 
                            src="https://player.vimeo.com/video/76979871?badge=1&amp;autopause=0&amp;title=0&amp;portrait=0&amp;byline=0&amp;player_id=0&amp;app_id=58479"
                            allow="autoplay; fullscreen; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>

                <div class="swiper-slide video--mini">
                    <div class="video__container">
                        <div class="video__preview">
                            <img 
                                src="./images/small_preview.png" 
                                alt="Video preview" 
                                class="video__preview-img"
                            />
                            <button class="play-button" aria-label="Play video">
                            </button>

                            <div class="video__preview__title">
                                <p>Макан Братов</p>
                                <p>CEO ООО “M5 F90”</p>
                            </div>
                        </div>

                        <iframe 
                            src="https://player.vimeo.com/video/76979871?badge=1&amp;autopause=0&amp;title=0&amp;portrait=0&amp;byline=0&amp;player_id=0&amp;app_id=58479"
                            allow="autoplay; fullscreen; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>

                <div class="swiper-slide video--mini">
                    <div class="video__container">
                        <div class="video__preview">
                            <img 
                                src="./images/small_preview.png" 
                                alt="Video preview" 
                                class="video__preview-img"
                            />
                            <button class="play-button" aria-label="Play video">
                            </button>

                            <div class="video__preview__title">
                                <p>Макан Братов</p>
                                <p>CEO ООО “M5 F90”</p>
                            </div>
                        </div>

                        <iframe 
                            src="https://player.vimeo.com/video/76979871?badge=1&amp;autopause=0&amp;title=0&amp;portrait=0&amp;byline=0&amp;player_id=0&amp;app_id=58479"
                            allow="autoplay; fullscreen; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>

                <div class="swiper-slide video--mini">
                    <div class="video__container">
                        <div class="video__preview">
                            <img 
                                src="./images/small_preview.png" 
                                alt="Video preview" 
                                class="video__preview-img"
                            />
                            <button class="play-button" aria-label="Play video">
                            </button>

                            <div class="video__preview__title">
                                <p>Макан Братов</p>
                                <p>CEO ООО “M5 F90”</p>
                            </div>
                        </div>

                        <iframe 
                            src="https://player.vimeo.com/video/76979871?badge=1&amp;autopause=0&amp;title=0&amp;portrait=0&amp;byline=0&amp;player_id=0&amp;app_id=58479"
                            allow="autoplay; fullscreen; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <div class="slider-controls">
            <div class="custom-pagination" id="video-pagination"></div>
            <div class="navigation-buttons">
                <button class="slider-button" id="prev-video"></button>
                <button class="slider-button" id="next-video"></button>
            </div>
        </div>
    </div>
</section>