.reviews-slider{
    .content{
        @include paddingLeft(0);
        @include paddingRight(0);
    }
}

.video__container{
    @include width(570);
    @include height(373);
    @include borderRadius(30);
    overflow: hidden;
    position: relative;
    background: $black;

    iframe{
        width: 100%;
        height: 100%;
        border: 0;
    }
}
        