<section id="reviews-slider" class="reviews-slider">
    <div class="content">
        <div class="title">
            <div class="title__tag">reviews</div>
            <h2>Отзывы наших клиентов</h2>
        </div>
        <div class="slider-container">
        <div class="swiper swiper--reviews" id="reviews-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="video__container">
                        <iframe 
                            src="https://player.vimeo.com/video/412097464?badge=1&amp;autopause=0&amp;title=0&amp;portrait=0&amp;byline=0&amp;player_id=0&amp;app_id=58479"
                            allow="autoplay; fullscreen; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="video__container">
                        <iframe 
                            src="https://player.vimeo.com/video/412097464?badge=1&amp;autopause=0&amp;title=0&amp;portrait=0&amp;byline=0&amp;player_id=0&amp;app_id=58479"
                            allow="autoplay; fullscreen; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="video__container">
                        <iframe 
                            src="https://player.vimeo.com/video/412097464?badge=1&amp;autopause=0&amp;title=0&amp;portrait=0&amp;byline=0&amp;player_id=0&amp;app_id=58479"
                            allow="autoplay; fullscreen; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="video__container">
                        <iframe 
                            src="https://player.vimeo.com/video/412097464?badge=1&amp;autopause=0&amp;title=0&amp;portrait=0&amp;byline=0&amp;player_id=0&amp;app_id=58479"
                            allow="autoplay; fullscreen; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="video__container">
                        <iframe 
                            src="https://player.vimeo.com/video/412097464?badge=1&amp;autopause=0&amp;title=0&amp;portrait=0&amp;byline=0&amp;player_id=0&amp;app_id=58479"
                            allow="autoplay; fullscreen; picture-in-picture" 
                            allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-controls">
            <div class="custom-pagination" id="pagination-2"></div>
            <div class="navigation-buttons">
                <button class="slider-button prev-2"></button>
                <button class="slider-button next-2"></button>
            </div>
        </div>
    </div>
</section>