.reviews-slider{
    .content{
        @include paddingLeft(0);
        @include paddingRight(0);
    }
}

.swiper-container-outer {
    overflow: hidden;
    @include padding(0, 80, 0, 80);
}

#video-swiper{
    width: 100%;
    overflow: hidden;
    margin-bottom: 28px;

    .swiper-slide {
        @include width(570);
        @include height(373);
        @include borderRadius(30);
        overflow: hidden;
        background: $black;
        flex-shrink: 0;

        @include padding(0, 0, 0, 0);
    }

    .swiper-slide iframe {
        width: 100%;
        height: 100%;
        border: none;
        display: block;
    }
}