.small-form {
    @include height(1257);

    background-image: url('../images/small-form-background.png');
    background-repeat: no-repeat;
    background-position: center;

    @include centerContent();

    flex-direction: column;
    align-content: center;

    .checkbox-container{
        @include flexbox();
        flex-direction: column;
        justify-content: space-between;
    }
}

.small-form__layer {
    @include flexbox();
    flex-direction: column;
    align-content: center;
    @include MaxWidth(1100);

    h2{
        font-family: Manrope;
        font-weight: 600;
        @include fontSize(70);
        @include lineHeight(78);
        letter-spacing: 0%;
        text-align: center;
        color: $white;
        @include marginBottom(30);
    }
}

.small-form__layer > p{
        font-family: Manrope;
        font-weight: 500;
        @include fontSize(22);
        line-height: 100%;
        letter-spacing: 0%;
        text-align: center;
        color: #FFFFFFB2;
        @include MaxWidth(820);
        @include marginBottom(100);
}

.small-form-upper-container{
    @include flexbox();

    @include gap(40);
    @include marginBottom(100);
}

.small-form-down-container{
    @include flexbox();

    @include gap(40);
}