<section id="small-form" class="small-form">
    <div class="small-form__layer">
        <div class="small-form__layer__logo">
            <h2 class="small-form__title">Хотите IT-решение, которое работает на бизнес?</h2>
            <p class="small-form__description">Оставьте заявку и получите бесплатную консультацию от Lazy Dev — подскажем оптимальное решение для вашего бизнеса</p>
        </div>
        <form>
                <div class="small-form__upper-container">
                    <div class="text-field text-field--white">
                        <div class="text-field__container">
                            <input class="text-field__input" placeholder=" "></input>
                            <fieldset aria-hidden="true" class="text-field__fieldset">
                                <legend class="text-field__legend">
                                    <span>Как к Вам обращаться ?</span>
                                </legend>
                            </fieldset>
                        </div>
                    </div>
                    <div class="text-field text-field--white">
                        <div class="text-field__container">
                            <input class="text-field__input phone-input" placeholder=" "></input>
                            <fieldset aria-hidden="true" class="text-field__fieldset">
                                <legend class="text-field__legend">
                                    <span>Телефон</span>
                                </legend>
                            </fieldset>
                        </div>
                    </div>
                </div>
            <div class="small-form__down-container">
                <div class="small-form__checkbox-container">
                    <label class="checkbox checkbox--white">
                        <input type="checkbox" class="checkbox__input">
                        <svg class="checkbox__check" viewBox="0 0 128 128" width="26" height="26">
                            <polyline points="106 32 48 91 22 64"></polyline>
                        </svg>
                        <p class="checkbox__label">Я принимаю условия <a href="">обработки персональных данных</a></p>
                    </label>
                    <label class="checkbox checkbox--white">
                        <input type="checkbox" class="checkbox__input">
                        <svg class="checkbox__check" viewBox="0 0 128 128" width="26" height="26">
                            <polyline points="106 32 48 91 22 64"></polyline>
                        </svg>
                        <p class="checkbox__label">Я принимаю условия <a href="">обработки персональных данных</a></p>
                    </label>
                </div>
                <button class="button button--white button--icon button--icon--arrow width-380 small-form__button">Получить консультацию</button>
            </div>
        </form>
    </div>
</section>