.small-form {
    @include height(1257);

    background-image: url('../images/small-form-background.png');
    background-repeat: no-repeat;
    background-position: center;

    @include centerContent();

    &__layer{
        @include flexbox();
        flex-direction: column;
        align-items: center;
        @include MaxWidth(1100);
    }

    &__title{
        font-family: Manrope;
        font-weight: 600;
        @include fontSize(70);
        @include lineHeight(78);
        letter-spacing: 0%;
        text-align: center;
        color: $white;
        @include marginBottom(30);
    }

    &__description{
        font-family: Manrope;
        font-weight: 500;
        @include fontSize(22);
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        color: #FFFFFFB2;
        @include MaxWidth(737);
        @include marginBottom(100);
    }

    &__upper-container{
        @include flexbox();
        @include gap(40);
        @include marginBottom(100);
    }

    &__down-container{
        @include flexbox();
        @include gap(40);
    }
    
    &__checkbox-container{
        @include flexbox();
        flex-direction: column;
        justify-content: space-between;
    }

    &__button{
        @include margin(5, 0, 5, 0);
    }
}