<section id="cases" class="cases">
    <div class="content">
        <div class="cases__radio">
            <label class="case-radio card-tag">
                <input type="radio" name="cases" id="all" value="all" checked> 
                <p>Все проекты</p>
            </label>
            <label class="case-radio card-tag">
                <input type="radio" name="cases" id="apps" value="app"> 
                <p>Приложения</p>
            </label>
            <label class="case-radio card-tag">
                <input type="radio" name="cases" id="sites" value="sites"> 
                <p>Сайты</p>
            </label>
            <label class="case-radio card-tag">
                <input type="radio" name="cases" id="bots" value="bots"> 
                <p>Telegram - боты</p>
            </label>
            <label class="case-radio card-tag">
                <input type="radio" name="cases" id="mini-app" value="mini-app"> 
                <p>Telegram mini app</p>
            </label>
            <label class="case-radio card-tag">
                <input type="radio" name="cases" id="design" value="design"> 
                <p>Дизайн</p>
            </label>
        </div>
        <div class="cases__stuff">
            <ul class="cases__list">
                <li data-category="app">
                    <article class="case-card">
                        <div class="case-card__content">
                            <div class="case-card__content__head">
                                <div class="case-card__content__head__info">
                                    <div class="case-card__content__head__logo">
                                        <img src="./images/icons/small_lazy.svg" alt="">
                                    </div>
                                    <ul class="case-card__content__head__tags">
                                        <li class="card-tag">
                                            <p>Web-приложение</p>
                                        </li>
                                        <li class="card-tag">
                                            <p>UX / UI</p>
                                        </li>
                                    </ul>
                                </div>
                                <span class="case-card__content__head__line"></span>
                            </div>
                            <div class="case-card__content__naming">
                                <div class="case-card__content__naming__text">
                                    <h2>Ultimte store</h2>
                                    <p>Как мы повысили доходимость онлайн-курсов до <br>
                                        50%, благодаря одному мобильному приложению</p>
                                </div>
                                <button class="case-card__content__naming__more button button--blue width-200">
                                    <p>Подробнее</p>
                                </button>
                            </div>
                        </div>
                        <div class="case-card__img img-box">
                            <img src="./images/cards/cases.webp" alt="Карточка">
                        </div>
                    </article>
                </li>
                <li data-category="app">
                    <article class="case-card">
                        <div class="case-card__content">
                            <div class="case-card__content__head">
                                <div class="case-card__content__head__info">
                                    <div class="case-card__content__head__logo">
                                        <img src="./images/icons/small_lazy.svg" alt="">
                                    </div>
                                    <ul class="case-card__content__head__tags">
                                        <li class="card-tag">
                                            <p>Web-приложение</p>
                                        </li>
                                        <li class="card-tag">
                                            <p>UX / UI</p>
                                        </li>
                                    </ul>
                                </div>
                                <span class="case-card__content__head__line"></span>
                            </div>
                            <div class="case-card__content__naming">
                                <div class="case-card__content__naming__text">
                                    <h2>Ultimte store</h2>
                                    <p>Как мы повысили доходимость онлайн-курсов до <br>
                                        50%, благодаря одному мобильному приложению</p>
                                </div>
                                <button class="case-card__content__naming__more button button--blue width-200">
                                    <p>Подробнее</p>
                                </button>
                            </div>
                        </div>
                        <div class="case-card__img img-box">
                            <img src="./images/cards/cases.webp" alt="Карточка">
                        </div>
                    </article>
                </li>
                <li data-category="bots">
                    <article class="case-card">
                        <div class="case-card__content">
                            <div class="case-card__content__head">
                                <div class="case-card__content__head__info">
                                    <div class="case-card__content__head__logo">
                                        <img src="./images/icons/small_lazy.svg" alt="">
                                    </div>
                                    <ul class="case-card__content__head__tags">
                                        <li class="card-tag">
                                            <p>Web-приложение</p>
                                        </li>
                                        <li class="card-tag">
                                            <p>UX / UI</p>
                                        </li>
                                    </ul>
                                </div>
                                <span class="case-card__content__head__line"></span>
                            </div>
                            <div class="case-card__content__naming">
                                <div class="case-card__content__naming__text">
                                    <h2>Ultimte store</h2>
                                    <p>Как мы повысили доходимость онлайн-курсов до <br>
                                        50%, благодаря одному мобильному приложению</p>
                                </div>
                                <button class="case-card__content__naming__more button button--blue width-200">
                                    <p>Подробнее</p>
                                </button>
                            </div>
                        </div>
                        <div class="case-card__img img-box">
                            <img src="./images/cards/cases.webp" alt="Карточка">
                        </div>
                    </article>
                </li>
                <li data-category="sites">
                    <article class="case-card">
                        <div class="case-card__content">
                            <div class="case-card__content__head">
                                <div class="case-card__content__head__info">
                                    <div class="case-card__content__head__logo">
                                        <img src="./images/icons/small_lazy.svg" alt="">
                                    </div>
                                    <ul class="case-card__content__head__tags">
                                        <li class="card-tag">
                                            <p>Web-приложение</p>
                                        </li>
                                        <li class="card-tag">
                                            <p>UX / UI</p>
                                        </li>
                                    </ul>
                                </div>
                                <span class="case-card__content__head__line"></span>
                            </div>
                            <div class="case-card__content__naming">
                                <div class="case-card__content__naming__text">
                                    <h2>Ultimte store</h2>
                                    <p>Как мы повысили доходимость онлайн-курсов до <br>
                                        50%, благодаря одному мобильному приложению</p>
                                </div>
                                <button class="case-card__content__naming__more button button--blue width-200">
                                    <p>Подробнее</p>
                                </button>
                            </div>
                        </div>
                        <div class="case-card__img img-box">
                            <img src="./images/cards/cases.webp" alt="Карточка">
                        </div>
                    </article>
                </li>
                <li data-category="mini-app">
                    <article class="case-card">
                        <div class="case-card__content">
                            <div class="case-card__content__head">
                                <div class="case-card__content__head__info">
                                    <div class="case-card__content__head__logo">
                                        <img src="./images/icons/small_lazy.svg" alt="">
                                    </div>
                                    <ul class="case-card__content__head__tags">
                                        <li class="card-tag">
                                            <p>Web-приложение</p>
                                        </li>
                                        <li class="card-tag">
                                            <p>UX / UI</p>
                                        </li>
                                    </ul>
                                </div>
                                <span class="case-card__content__head__line"></span>
                            </div>
                            <div class="case-card__content__naming">
                                <div class="case-card__content__naming__text">
                                    <h2>Ultimte store</h2>
                                    <p>Как мы повысили доходимость онлайн-курсов до <br>
                                        50%, благодаря одному мобильному приложению</p>
                                </div>
                                <button class="case-card__content__naming__more button button--blue width-200">
                                    <p>Подробнее</p>
                                </button>
                            </div>
                        </div>
                        <div class="case-card__img img-box">
                            <img src="./images/cards/cases.webp" alt="Карточка">
                        </div>
                    </article>
                </li>
            </ul>
            <button id="show-more" class="button button--blue width-200">
                <p>Показать еще</p>
            </button>
        </div>
    </div>
</section>