@charset "UTF-8";

/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

summary {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

@font-face {
  font-family: Manrope;
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
}

:root {
  --coefficient: 0.3333;
  --device-width: 1920;
  --mobile-coefficient: 1;
  --design-width: 1920;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

body {
  background-color: #FFFFFF;
  font-variant-numeric: lining-nums;
  height: 100%;
}

img {
  pointer-events: none;
}

.container {
  max-width: var(--container-width);
  width: 81.25vw;
  margin: 0 auto;
}

summary {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 6px;
  height: 200px;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background: #FFFFFF;
  /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  /* закругления плашки */
}

.accordeon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient));
  flex-direction: column;
  font-family: Manrope, sans-serif;
}

.accordeon__element {
  padding: clamp(32px * var(--coefficient), 32 * 100vw / var(--design-width) * var(--mobile-coefficient), 32px * var(--mobile-coefficient)) clamp(43px * var(--coefficient), 43 * 100vw / var(--design-width) * var(--mobile-coefficient), 43px * var(--mobile-coefficient)) clamp(32px * var(--coefficient), 32 * 100vw / var(--design-width) * var(--mobile-coefficient), 32px * var(--mobile-coefficient)) clamp(43px * var(--coefficient), 43 * 100vw / var(--design-width) * var(--mobile-coefficient), 43px * var(--mobile-coefficient));
  border-radius: clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient));
  box-shadow: clamp(5px * var(--coefficient), 5 * 100vw / var(--design-width) * var(--mobile-coefficient), 5px * var(--mobile-coefficient)) clamp(4px * var(--coefficient), 4 * 100vw / var(--design-width) * var(--mobile-coefficient), 4px * var(--mobile-coefficient)) clamp(15px * var(--coefficient), 15 * 100vw / var(--design-width) * var(--mobile-coefficient), 15px * var(--mobile-coefficient)) 0px rgba(0, 0, 0, 0.1019607843);
  transition: 0.5s;
}

.accordeon__element:hover .accordeon__element__arrow {
  transform: scale(1.2);
}

.accordeon__element:hover .accordeon__element__arrow.up {
  transform: scale(1.2) rotateX(180deg);
}

.accordeon__element__title {
  font-size: clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient));
  font-weight: 600;
}

.accordeon__element__arrow {
  width: clamp(40px * var(--coefficient), 40 * 100vw / var(--design-width) * var(--mobile-coefficient), 40px * var(--mobile-coefficient));
  height: clamp(18px * var(--coefficient), 18 * 100vw / var(--design-width) * var(--mobile-coefficient), 18px * var(--mobile-coefficient));
  transition: transform 0.5s ease-out;
}

.accordeon__element__arrow > img {
  width: 100%;
  height: 100%;
}

.accordeon__element__arrow.up {
  transform: rotateX(180deg);
}

.accordeon__element__content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding-top: clamp(42px * var(--coefficient), 42 * 100vw / var(--design-width) * var(--mobile-coefficient), 42px * var(--mobile-coefficient));
  padding-bottom: clamp(10px * var(--coefficient), 10 * 100vw / var(--design-width) * var(--mobile-coefficient), 10px * var(--mobile-coefficient));
  font-size: clamp(22px * var(--coefficient), 22 * 100vw / var(--design-width) * var(--mobile-coefficient), 22px * var(--mobile-coefficient));
  line-height: clamp(32px * var(--coefficient), 32 * 100vw / var(--design-width) * var(--mobile-coefficient), 32px * var(--mobile-coefficient));
  font-weight: 500;
  color: rgba(13, 14, 14, 0.6);
}

.card-large {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient));
  width: clamp(865px * var(--coefficient), 865 * 100vw / var(--design-width) * var(--mobile-coefficient), 865px * var(--mobile-coefficient));
  height: clamp(740px * var(--coefficient), 740 * 100vw / var(--design-width) * var(--mobile-coefficient), 740px * var(--mobile-coefficient));
}

.card-large::after,
.card-large::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: opacity 0.6s ease-out;
}

.card-large::before {
  background: linear-gradient(179.97deg, rgba(0, 0, 0, 0) -34.75%, rgba(0, 0, 0, 0.2) 99.97%);
  opacity: 1;
  z-index: 1;
}

.card-large::after {
  background: linear-gradient(179.97deg, rgba(0, 0, 0, 0) -34.75%, rgba(0, 0, 0, 0.6) 99.97%);
  opacity: 0;
  z-index: 2;
}

.card-large:hover::after {
  opacity: 1;
}

.card-large:hover::before {
  opacity: 0;
}

.card-large__content {
  padding: clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient)) clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient)) clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient)) clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient));
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(40px * var(--coefficient), 40 * 100vw / var(--design-width) * var(--mobile-coefficient), 40px * var(--mobile-coefficient));
  flex-direction: column;
  z-index: 3;
}

.card-large__text {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient));
  flex-direction: column;
  font-family: Manrope, sans-serif;
}

.card-large__title {
  font-size: clamp(70px * var(--coefficient), 70 * 100vw / var(--design-width) * var(--mobile-coefficient), 70px * var(--mobile-coefficient));
  line-height: clamp(80px * var(--coefficient), 80 * 100vw / var(--design-width) * var(--mobile-coefficient), 80px * var(--mobile-coefficient));
  font-weight: 600;
}

.card-large__description {
  font-size: clamp(22px * var(--coefficient), 22 * 100vw / var(--design-width) * var(--mobile-coefficient), 22px * var(--mobile-coefficient));
  line-height: clamp(36px * var(--coefficient), 36 * 100vw / var(--design-width) * var(--mobile-coefficient), 36px * var(--mobile-coefficient));
  font-weight: 500;
  opacity: 0.6;
}

.card-large__tags {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(10px * var(--coefficient), 10 * 100vw / var(--design-width) * var(--mobile-coefficient), 10px * var(--mobile-coefficient));
  flex-wrap: wrap;
}

.card-large__tags > .card-tag {
  border-color: rgba(255, 255, 255, 0.4);
}

.card-tag {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: clamp(10px * var(--coefficient), 10 * 100vw / var(--design-width) * var(--mobile-coefficient), 10px * var(--mobile-coefficient)) clamp(25px * var(--coefficient), 25 * 100vw / var(--design-width) * var(--mobile-coefficient), 25px * var(--mobile-coefficient)) clamp(10px * var(--coefficient), 10 * 100vw / var(--design-width) * var(--mobile-coefficient), 10px * var(--mobile-coefficient)) clamp(25px * var(--coefficient), 25 * 100vw / var(--design-width) * var(--mobile-coefficient), 25px * var(--mobile-coefficient));
  border-radius: clamp(35px * var(--coefficient), 35 * 100vw / var(--design-width) * var(--mobile-coefficient), 35px * var(--mobile-coefficient));
  border: clamp(1px * var(--coefficient), 1 * 100vw / var(--design-width) * var(--mobile-coefficient), 1px * var(--mobile-coefficient)) solid black;
  font-size: clamp(20px * var(--coefficient), 20 * 100vw / var(--design-width) * var(--mobile-coefficient), 20px * var(--mobile-coefficient));
  font-family: Inter, sans-serif;
  transition: color 400ms ease-out, border-color 400ms ease-out;
}

.card-tag:hover {
  color: #4A6FFE;
  border-color: rgba(74, 111, 254, 0.4);
}

.tag-break {
  flex-basis: 100%;
}

.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient));
  flex-direction: column;
  padding-left: clamp(80px * var(--coefficient), 80 * 100vw / var(--design-width) * var(--mobile-coefficient), 80px * var(--mobile-coefficient));
  padding-right: clamp(80px * var(--coefficient), 80 * 100vw / var(--design-width) * var(--mobile-coefficient), 80px * var(--mobile-coefficient));
}

.title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  gap: clamp(16px * var(--coefficient), 16 * 100vw / var(--design-width) * var(--mobile-coefficient), 16px * var(--mobile-coefficient));
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.title__tag {
  padding: clamp(10px * var(--coefficient), 10 * 100vw / var(--design-width) * var(--mobile-coefficient), 10px * var(--mobile-coefficient)) clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient)) clamp(10px * var(--coefficient), 10 * 100vw / var(--design-width) * var(--mobile-coefficient), 10px * var(--mobile-coefficient)) clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient));
  border-radius: clamp(38px * var(--coefficient), 38 * 100vw / var(--design-width) * var(--mobile-coefficient), 38px * var(--mobile-coefficient));
  border: clamp(1px * var(--coefficient), 1 * 100vw / var(--design-width) * var(--mobile-coefficient), 1px * var(--mobile-coefficient)) solid rgba(18, 18, 18, 0.2);
  font-size: clamp(20px * var(--coefficient), 20 * 100vw / var(--design-width) * var(--mobile-coefficient), 20px * var(--mobile-coefficient));
  font-family: Inter, sans-serif;
  text-transform: uppercase;
}

.title h2 {
  font-size: clamp(60px * var(--coefficient), 60 * 100vw / var(--design-width) * var(--mobile-coefficient), 60px * var(--mobile-coefficient));
  font-family: Manrope, sans-serif;
  font-weight: 600;
}

.img-box {
  position: relative;
  overflow: hidden;
}

.background {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.white-style {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.white-style * {
  border-color: inherit;
}

.servicesL__layer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: clamp(30px * var(--coefficient), 30 * 100vw / var(--design-width) * var(--mobile-coefficient), 30px * var(--mobile-coefficient));
}

.arrow {
  width: clamp(40px * var(--coefficient), 40 * 100vw / var(--design-width) * var(--mobile-coefficient), 40px * var(--mobile-coefficient));
  height: clamp(18px * var(--coefficient), 18 * 100vw / var(--design-width) * var(--mobile-coefficient), 18px * var(--mobile-coefficient));
}

.arrow > img {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 640px) {
  :root {
    --coefficient: 0.8205;
    --device-width: 640;
    --mobile-coefficient: 1.641;
    --design-width: 640;
  }
}