<section id="servicesL" class="servicesL">
    <div class="content">
        <div class="title">
            <div class="title__tag">services</div>
            <h2>Услуги студии</h2>
        </div>
        <div class="servicesL__layer">
            <article class="card-large">
                <img src="" alt="">
                <div class="card-large__text">
                    <h3 class="card-large__title">
                        Разработка <br> приложений
                    </h3>
                    <p class="card-large__description">
                        Lazy Dev — креативная IT-студия, специализирующаяся на разработке современных digital-продуктов: сайтов, мобильных <br >и web-приложений, Telegram-ботов и IT-решений под ключ.
                    </p>
                </div>
                
                <div class="card-large__tags">
                    <div class="card-tag">PWA</div>
                    <div class="card-tag">IOS</div>
                    <div class="card-tag">Anfroid</div>
                    <div class="tag-break"></div>
                    <div class="card-tag">Cross-platform</div>
                </div>
            </article>
            <article class="card-large">
                <img src="" alt="">
                <div class="card-large__text">
                    <h3 class="card-large__title">
                        Разработка <br> сайтов
                    </h3>
                    <p class="card-large__description">
                        Lazy Dev — креативная IT-студия, специализирующаяся на разработке современных digital-продуктов: сайтов, мобильных <br >и web-приложений, Telegram-ботов и IT-решений под ключ.
                    </p>
                </div>
                
                <div class="card-large__tags"></div>
            </article>
            <article class="card-large">
                <img src="" alt="">
                <div class="card-large__text">
                    <h3 class="card-large__title">
                        Telegram <br> решения
                    </h3>
                    <p class="card-large__description">
                        Lazy Dev — креативная IT-студия, специализирующаяся на разработке современных digital-продуктов: сайтов, мобильных <br >и web-приложений, Telegram-ботов и IT-решений под ключ.
                    </p>
                </div>
                
                <div class="card-large__tags"></div>
            </article>
            <article class="card-large">
                <img src="" alt="">
                <div class="card-large__text">
                    <h3 class="card-large__title">
                        Индивидуальные <br> решения для бизнеса
                    </h3>
                    <p class="card-large__description">
                        Lazy Dev — креативная IT-студия, специализирующаяся на разработке современных digital-продуктов: сайтов, мобильных <br >и web-приложений, Telegram-ботов и IT-решений под ключ.
                    </p>
                </div>
                
                <div class="card-large__tags"></div>
            </article>
        </div>
    </div>
</section>