<section id="servicesL" class="servicesL">
    <div class="content gap-60">
        <div class="title">
            <div class="title__tag">services</div>
            <h2>Услуги студии</h2>
        </div>
        <div class="servicesL__layer">
            <a>
                <article class="card-large img-box white-style">
                    <img class="background" src="./images/cards/test1.webp" alt="">
                    <div class="card-large__content">
                        <div class="card-large__text">
                            <h3 class="card-large__title">
                                Разработка <br> приложений
                            </h3>
                            <p class="card-large__description">
                                Lazy Dev — креативная IT-студия, специализирующаяся на разработке современных digital-продуктов: сайтов, мобильных <br >и web-приложений, Telegram-ботов и IT-решений под ключ.
                            </p>
                        </div>
                    
                        <div class="card-large__tags">
                            <div class="card-tag">
                                <p>PWA</p>
                            </div>
                            <div class="card-tag">
                                <p>IOS</p>
                            </div>
                            <div class="card-tag">
                                <p>Android</p>
                            </div>
                            <div class="tag-break">
                            </div>
                            <div class="card-tag">
                                <p>Cross-platform</p>
                            </div>
                        </div>
                    </div>
                </article>
            </a>

            <a>
                <article class="card-large img-box white-style">
                    <img class="background" src="./images/cards/test1.webp" alt="">
                    <div class="card-large__content">
                        <div class="card-large__text">
                            <h3 class="card-large__title">
                                Разработка <br> сайтов
                            </h3>
                            <p class="card-large__description">
                                Lazy Dev — креативная IT-студия, специализирующаяся на разработке современных digital-продуктов: сайтов, мобильных <br >и web-приложений, Telegram-ботов и IT-решений под ключ.
                            </p>
                        </div>
                    
                        <div class="card-large__tags">
                            <div class="card-tag">
                                <p>Лендинг</p>
                            </div>
                            <div class="card-tag">
                                <p>Интернет-магазин</p>
                            </div>
                            <div class="card-tag">
                                <p>Корпоративный сайт</p>
                            </div>
                            <div class="tag-break">
                            </div>
                            <div class="card-tag">
                                <p>Сайт - каталог</p>
                            </div>
                        </div>
                    </div>
                </article>
            </a>

            <a>
                <article class="card-large img-box white-style">
                    <img class="background" src="./images/cards/test1.webp" alt="">
                    <div class="card-large__content">
                        <div class="card-large__text">
                            <h3 class="card-large__title">
                                Telegram <br> решения
                            </h3>
                            <p class="card-large__description">
                                Lazy Dev — креативная IT-студия, специализирующаяся на разработке современных digital-продуктов: сайтов, мобильных <br >и web-приложений, Telegram-ботов и IT-решений под ключ.
                            </p>
                        </div>
                    
                        <div class="card-large__tags">
                            <div class="card-tag">
                                <p>PWA</p>
                            </div>
                            <div class="card-tag">
                                <p>IOS</p>
                            </div>
                            <div class="card-tag">
                                <p>Android</p>
                            </div>
                            <div class="tag-break">
                            </div>
                            <div class="card-tag">
                                <p>Cross-platform</p>
                            </div>
                        </div>
                    </div>
                </article>
            </a>

            <a>
                <article class="card-large img-box white-style">
                    <img class="background" src="./images/cards/test1.webp" alt="">
                    <div class="card-large__content">
                        <div class="card-large__text">
                            <h3 class="card-large__title">
                                Индивидуальные <br> решения для бизнеса
                            </h3>
                            <p class="card-large__description">
                                Lazy Dev — креативная IT-студия, специализирующаяся на разработке современных digital-продуктов: сайтов, мобильных <br >и web-приложений, Telegram-ботов и IT-решений под ключ.
                            </p>
                        </div>
                    
                        <div class="card-large__tags">
                            <div class="card-tag">
                                <p>Лендинг</p>
                            </div>
                            <div class="card-tag">
                                <p>Интернет-магазин</p>
                            </div>
                            <div class="card-tag">
                                <p>Корпоративный сайт</p>
                            </div>
                            <div class="tag-break">
                            </div>
                            <div class="card-tag">
                                <p>Сайт - каталог</p>
                            </div>
                        </div>
                    </div>
                </article>
            </a>
        </div>
    </div>
</section>