@keyframes scrollLeft {
  from {
    transform: translate(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}