// ==================== Основные стили =====================

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scrollbar-width: none;
}


body::-webkit-scrollbar,
body::-webkit-scrollbar-button { 
    display: none; 
}

body {
    background-color: $gray;
    font-variant-numeric: lining-nums;
    -ms-overflow-style: none;
    //font-family: Century-Gothic;
    //color: $black;
}

main {
    
}

section {
    background-color: $gray;
    &:not(:first-child){
        @include paddingBottom(250);
    }
}

img {
    pointer-events: none;
}

.container {
    max-width: var(--container-width);
    width: 81.25vw;
    margin: 0 auto;
}

summary{
    @include flexbox();
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


// ==================== Стилизация scrollbar =====================


body::-webkit-scrollbar {
    width: 6px;
    height: 200px;               /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
    background: #FFFFFF;        /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
    // background-color: $gray;    /* цвет плашки */
    border-radius: 5px;       /* закругления плашки */
     
}