// @font-face {
//     font-family: Century-Gothic;
//     src: url("../fonts/centurygothic.ttf");
// }

// @font-face {
//     font-family: Century-Gothic-Bold;
//     src: url("../fonts/centurygothic_bold.ttf");
// }

// Подключение шрифтов
@font-face{
    font-family: Manrope;
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}