// Подключение шрифтов
@font-face{
    font-family: Manrope;
    src: url('../fonts/Manrope-VariableFont_wght.ttf');
}

@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-VariableFont_opsz,wght.ttf');
}

@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
}