// Разкомментировать для удобного фона для просмотра UI-кита

// body {
//     background-color: #3d3d3d;
// }

// Контейнер для всего содержимого
.content{
    @include flexbox();
    @include gap(30);
    flex-direction: column;

    @include paddingLeft(80);
    @include paddingRight(80);
}

// Заголовок секции
.title{
    @include flexbox();
    @include gap(16);
    flex-direction: column;
    align-items: center;

    align-self: center;

    &__tag{
        @include padding(10, 30, 10, 30);

        @include borderRadius(38);
        border: adaptive(1) solid #12121233;

        @include fontSize(20);
        text-transform: uppercase;
    }

    h2{
        @include fontSize(60);
        font-family: Manrope, sans-serif;
        font-weight: 600;
    }
}