// Контейнер для всего содержимого
.content{
    @include flexbox();
    @include gap(30);
    flex-direction: column;

    @include paddingLeft(80);
    @include paddingRight(80);
}

// Заголовок секции
.title{
    @include flexbox();
    @include gap(16);
    flex-direction: column;
    align-items: center;

    align-self: center;

    &__tag{
        @include padding(10, 30, 10, 30);

        @include borderRadius(38);
        border: adaptive(1) solid #12121233;

        @include fontSize(20);
        font-family: Inter, sans-serif;
        text-transform: uppercase;
    }

    h2{
        @include fontSize(60);
        font-family: Manrope, sans-serif;
        font-weight: 600;
    }
}

// Контейнер для изображения (для того, 
// что внутреннее изображение можно было обрезать) (например: для фона)
.img-box{
    position: relative;
    overflow: hidden;
}

// Задний фон (если он картинкой) (можно использовать для картинки)
.background{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

// Белый стиль (изменение цвета шрифтов при темном фоне например)
// (Указывать на всю секцию где есть этот фон, или на отдельный блок (карточку))
.white-style{
    color: $white;
    border-color: $white;
    * {
        border-color: inherit;
    }
}

// Общий класс для первой страницы
.hero{
    background-color: transparent;

    color: $white;

    &__basis{
        @include flexbox();
        @include gap(50);
        flex-direction: column
    }

    &__text{
        @include flexbox();
        @include gap(30);
        flex-direction: column;
    }

    &__title{
        @include fontSize(70);
        @include lineHeight(78);
        font-weight: 600;
        font-family: Manrope, sans-serif;
    }

    &__description{
        @include fontSize(22);
        opacity: 0.8;
        font-weight: 400;
        font-family: Manrope, sans-serif;
    }

    &__b-layer{
        @include flexbox();
        @include gap(40);
    }

    &__describe{
        @include flexbox();
        @include gap(80);
    }
}

.bg-hero{
    width: 100%;

    position: absolute;
    z-index: -5;
    top: 0;
    
    background: black;
    overflow: hidden;

    > img{
        width: 100%;
    }
}

.naming{
    @include flexbox();
    @include gap(30);
    flex-direction: column;
    align-items: center;

    font-family: Manrope, sans-serif;

    &__desc{
        @include fontSize(22);
        text-align: center;

        opacity: 0.5;

    }
}

.sliding{
    @include flexbox();
    @include gap(50);
    flex-direction: column;

    -webkit-mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);

    &__layer{
        @include flexbox();
        @include gap(20);

        overflow: visible;

        
        will-change: transform;

        &:first-of-type{
            @include marginLeft(120);

            animation: scrollLeft 20s linear infinite;
        }

        &:last-of-type{
            flex-direction: row-reverse;
            @include marginRight(120);

            animation: scrollRight 20s linear infinite;
        }

    }

    &__group{
        @include flexbox();
        @include gap(20);
    }

    &__element{
        @include height(60);
        @include width(280);

        @include borderRadius(16);

        box-shadow: adaptive(3) adaptive(4) adaptive(8) 0px #0000001A;

        flex-shrink: 0;

        background-color: $white;
    }
}

/// Стили для секций с разным gap по умолчанию стоит 30px
/// 
.gap-60{
    @include gap(60);
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}