// =========== Часть Эмира ============

// Аккордеон
.accordeon{
    @include flexbox();
    @include gap(30);
    flex-direction: column;

    font-family: Manrope, sans-serif;

    &__element{
        @include padding(32, 43, 32, 43);

        @include borderRadius(30);
        box-shadow: adaptive(5) adaptive(4) adaptive(15) 0px #0000001A;

        transition: 0.5s;

        &:hover{
            .accordeon__element__arrow{
                transform: scale(1.2);
                &.up{
                    transform: scale(1.2) rotateX(180deg);
                }
            }
        }

        &__title{
            @include fontSize(30);
            font-weight: 600;
        }

        &__arrow{
            @include width(40);
            @include height(18);

            transition: transform 0.5s ease-out;

            > img{
                width: 100%;
                height: 100%;
            }

            &.up{
                transform: rotateX(180deg);
            }
        }

        &__content{
            @include flexbox();
            flex-direction: column;

            @include paddingTop(42);
            @include paddingBottom(10);

            @include fontSize(22);
            @include lineHeight(32);
            font-weight: 500;

            color: $trans-black;
        }
    }

}

// Большие карточки
.card-large{
    @include flexbox();
    flex-direction: column;
    justify-content: flex-end;
    
    @include borderRadius(30);

    @include width(865);
    @include height(740);

    &::after,
    &::before{
        content: "";
        position: absolute;
        inset: 0;
        transition: opacity 0.6s ease-out;
    }

    &::before {
        background: linear-gradient(
            179.97deg, 
            rgba(0, 0, 0, 0) -34.75%, 
            rgba(0, 0, 0, 0.2) 99.97%
        );
        opacity: 1;
        z-index: 1;
    }

    &::after {
        background: linear-gradient(
            179.97deg, 
            rgba(0, 0, 0, 0) -34.75%, 
            rgba(0, 0, 0, 0.6) 99.97%
        );
        opacity: 0;
        z-index: 2;
    }

    &:hover{
        &::after{
            opacity: 1;
        }
        &::before{
            opacity: 0;
        }
    }
    

    &__content{
        @include padding(30, 30, 30, 30);
        @include flexbox();
        @include gap(40);
        flex-direction: column;
        z-index: 3;
    }

    &__text{
        @include flexbox();
        @include gap(30);
        flex-direction: column;

        font-family: Manrope, sans-serif;
    }

    &__title{
        @include fontSize(70);
        @include lineHeight(80);
        font-weight: 600;
    }

    &__description{
        @include fontSize(22);
        @include lineHeight(36);
        font-weight: 500;

        opacity: 0.6;
    }

    &__tags{
        @include flexbox();
        @include gap(10);
        flex-wrap: wrap;

        > .card-tag{
            border-color: #FFFFFF66;
        }
    }
}

// Тэги для карточек
.card-tag{
    @include flexbox();
    @include padding(10, 25, 10, 25);

    @include borderRadius(35);

    border: adaptive(1) solid black;

    @include fontSize(20);
    font-family: Inter, sans-serif;

    transition: color 400ms ease-out,
                border-color 400ms ease-out;

    &:hover{
        color: $blue;
        border-color: #4A6FFE66;
    }
}

// Разделитель для тэгов
.tag-break{
    flex-basis: 100%;
}