//============= Colors =============

    $dark-blue: #2C4298;
    $gray: #F4F4F4;
    $black: #0D0E0E;
    $trans-black: #0D0E0E99;
    $white: #FFFFFF;
    $blue: #4A6FFE;
    $light-blue: #BDCBFF;
    $lime: #B5FF00;
    $red: #FF3434;

    $input-invalid-color: #FF6E6ECC;
    $input-text-color: #FFFFFF80;
    $input-border-color: #FFFFFF66;
    $input-black-border-color: #0D0E0E66;
    $input-black-text-color: #0D0E0ECC;
    $input-black-border-focus-color: #121212B2;
    $input-black-border-hover-color: #4A6FFE66;
    $input-black-text-hover-color: #4A6FFECC;


//============= Timers =============

    $button-anim-time: 500ms ease-out;
    $input-anim-time: 250ms ease-out;

:root { 
    
    //============= Container =============

        // --container-width: 1560px;


    //============= Fonts =============

        // $font-size: 48px;
        // --font-size-48: clamp(32px, 2.5vw, 48px);
    
}

//=========== Animations =============
    $bezier: cubic-bezier(0.22, 1, 0.36, 1);