//============= Colors =============

    $black: #0D0E0E;
    $trans-black: #0D0E0E99;
    $white: #FFFFFF;
    $blue: #4A6FFE;
    $light-blue: #BDCBFF;
    $lime: #B5FF00;
    $red: #FF3434;

:root { 
    
    //============= Container =============

        // --container-width: 1560px;


    //============= Fonts =============

        // $font-size: 48px;
        // --font-size-48: clamp(32px, 2.5vw, 48px);
    
}

//=========== Animations =============
    $bezier: cubic-bezier(0.22, 1, 0.36, 1);