@import '_reset';
@import '_vars';
@import '_fonts';
@import '_mixins';
@import '_common';
@import '_uikit';
@import '_main';

@import '../components//header/header.scss';
@import '../components/section.servicesLarge/section.servicesL.scss';
@import '../components/uikit.buttons/uikit.buttons.scss';
@import '../components/uikit.form/uikit.form.scss';

@import '_media';

