@import '_reset';
@import '_vars';
@import '_fonts';
@import '_mixins';
@import '_common';
@import '_uikit';
@import '_main';

@import '../components//header/header.scss';
@import '../components//footer/footer.scss';
@import '../components/section.about-us/section.about-us.scss';
@import '../components/section.servicesLarge/section.servicesL.scss';
@import '../components/section.servicesSmall/section.servicesS.scss';
@import '../components/uikit.buttons/uikit.buttons.scss';
@import '../components/section.big-form/section.big-form.scss';
@import '../components/section.small-form/section.small-form.scss';
@import '../components/section.questions/section.questions.scss';

@import '_media';

