@import '_reset';
@import '_vars';
@import '_fonts';
@import '_mixins';
@import '_animation';
@import '_common';
@import '_uikit';
@import '_main';

@import '../components//header/header.scss';
@import '../components//footer/footer.scss';
@import '../components/section.main-video/section.main-video.scss';
@import '../components/section.about-us/section.about-us.scss';
@import '../components/section.servicesLarge/section.servicesL.scss';
@import '../components/section.servicesSmall/section.servicesS.scss';
@import '../components/uikit.buttons/uikit.buttons.scss';
@import '../components/section.slider/section.slider.scss';
@import '../components/section.reviews/section.reviews.scss';
@import '../components/section.big-form/section.big-form.scss';
@import '../components/section.small-form/section.small-form.scss';
@import '../components/section.questions/section.questions.scss';
@import '../components/section.cases/section.cases.scss';

@import '../components/background.hero.main/background.hero.main.scss';
@import '../components/background.hero.services/background.hero.services.scss';
@import '../components/background.hero.cases/background.hero.cases.scss';
@import '../components/section.hero.main/section.hero.main.scss';
@import '../components/section.hero.services/section.hero.services.scss';
@import '../components/section.hero.cases/section.hero.cases.scss';
@import '../components/modal.form/modal.form.scss';

@import '_media';

