<section id="projects-slider" class="projects-slider">
    <div class="content">
        <div class="title">
            <div class="title__tag">cases</div>
            <h2>Наши проекты</h2>
        </div>
        <div class="slider-container">
        <div class="swiper" id="projects-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="card-content">
                        <div class="card-content-left">
                            <h3>Ultimate Store</h3>
                            <p>
                                Знакомься: это брат, брат это тоже брат, брат<br>
                                Кандидаты в мастера и мастера пера, брат<br>
                                Новые бампера висят на старых номерах, брат<br>
                                Нас держит любовь и то, что мы зовём «уклад», брат, вот так-то
                            </p>
                            <div class="slider-tags">
                                <div class="card-tag">Web-приложение</div>
                                <div class="card-tag">UX / UI</div>
                                <div class="card-tag">PWA</div>
                                <div class="card-tag">Разработка дизайна</div>
                                <div class="card-tag">Brandbook</div>
                                <div class="card-tag">Сайт</div>
                            </div>
                            <div class="slider-buttons">
                                <button class="button button--black button--icon button--icon--arrow width-280">Смотреть все</button>
                                <button class="button button--blue width-280">Подробнее</button>
                            </div>
                        </div>
                        <img src="./images/ultimate-store.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-content">
                        <div class="card-content-left">
                            <h3>Awesome Project</h3>
                            <p>
                                Wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow
                                 wow wow wow wow wow wow wow wow wow wow wow wow
                            </p>
                            <div class="slider-tags">
                                <div class="card-tag">Web-приложение</div>
                                <div class="card-tag">Telegram бот</div>
                                <div class="card-tag">Brandbook</div>
                                <div class="card-tag">Сайт</div>
                            </div>
                            <div class="slider-buttons">
                                <button class="button button--black button--icon button--icon--arrow width-280">Смотреть все</button>
                                <button class="button button--blue width-280">Подробнее</button>
                            </div>
                        </div>
                        <img src="./images/projects-slider-mockup-image-2.webp" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="card-content">
                        <div class="card-content-left">
                            <h3>No Image Example</h3>
                            <p>
                                Wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow wow
                                 wow wow wow wow wow wow wow wow wow wow wow wow
                            </p>
                            <div class="slider-tags">
                                <div class="card-tag">Web-приложение</div>
                                <div class="card-tag">Telegram бот</div>
                                <div class="card-tag">Brandbook</div>
                                <div class="card-tag">Сайт</div>
                            </div>
                            <div class="slider-buttons">
                                <button class="button button--black button--icon button--icon--arrow width-280">Смотреть все</button>
                                <button class="button button--blue width-280">Подробнее</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-controls">
            <div class="custom-pagination" id="pagination-1"></div>
            <div class="navigation-buttons">
                <button class="slider-button prev-1"></button>
                <button class="slider-button next-1"></button>
            </div>
        </div>
    </div>
</section>