<section id="servicesS" class="servicesS">
    <div class="content">
        <div class="title">
            <div class="title__tag">services</div>
            <h2>Услуги студии</h2>
        </div>
        <div class="servicesS__layer">
            <article class="card-small">
                <a class="round-button"></a>
                <div class="card-small__image-container">
                    <img class="card-small__image" src="./images/small-card-image.png" alt="">
                    <img class="card-small__shadow" src="./images/small-card-image-shadow.png">
                </div>
                <div class="card-small__text">
                    <h3>Разработка сайтов</h3>
                    <p>Создаём сайты, которые работают на Ваш бизнес</p>
                </div>
            </article>
            <article class="card-small">
                <a class="round-button"></a>
                <div class="card-small__image-container">
                    <img class="card-small__image" src="./images/small-card-image.png" alt="">
                    <img class="card-small__shadow" src="./images/small-card-image-shadow.png">
                </div>
                <div class="card-small__text">
                    <h3>Разработка приложений</h3>
                    <p>Создаём сайты, которые работают на Ваш бизнес</p>
                </div>
            </article>
            <article class="card-small">
                <a class="round-button"></a>
                <div class="card-small__image-container">
                    <img class="card-small__image" src="./images/small-card-image.png" alt="">
                    <img class="card-small__shadow" src="./images/small-card-image-shadow.png">
                </div>
                <div class="card-small__text">
                    <h3>UX | UI Дизайн</h3>
                    <p>Создаём сайты, которые работают на Ваш бизнес</p>
                </div>
            </article>
            <article class="card-small card-small--placeholder">
                <a class="lazy-button"></a>
                <div class="card-small__text">
                    <h3>Все услуги студии</h3>
                    <p>Создаём сайты, которые работают на Ваш бизнес<br>Создаём сайты, которые работают на Ваш бизнес</p>
                </div>
                <button class="button button--black button--icon button--icon--arrow width-375 services-button">Подробнее</button>
            </article>
        </div>
    </div>
</section>