.servicesS{
    &__layer{
        @include flexbox();
        justify-content: space-between;
    }

    .title{
        opacity: 0;
        transform: translateY(adaptive(-30));
        transition: opacity 0.7s ease, transform 0.7s ease;

        &.animated{
            opacity: 1;
            transform: translateY(0);
        }
    }

    .card-small {
        opacity: 0;
        transform: translateY(adaptive(40));
        transition: opacity 1s ease, transform 1s ease;

        &.animated{
            opacity: 1;
            transform: translateY(0);
        }
    }
}