.servicesS{
    &__layer{
        @include flexbox();
        justify-content: space-between;
    }

    .title{
        opacity: 0;
        transform: translateY(adaptive(-30));
        transition: opacity 0.7s ease, transform 0.7s ease;
    }

    .card-small{
        opacity: 0;
        transform: translateY(adaptive(40));
        transition: opacity 1s ease, transform 1s ease;
        transition-delay: 0.7s;
    }

    .card-small:nth-child(2){
        transition-delay: 1.1s;
    }

    .card-small:nth-child(3){
        transition-delay: 1.5s;
    }

    .card-small:nth-child(4){
        transition-delay: 1.9s;
    }
}