.bg-hero--services{
    justify-content: flex-end;
    align-items: center;

    overflow: hidden;

    background-color: #000000;
    @include height(1068);

    > img{
        right: 0;
        left: auto;

        @include width(1104);

        @include marginTop(540);
    }
}