// Подложка под header
.spacer{
    @include height(37);

    &--under{
        @include height(97);
    }
}


.header{
    position: sticky;
    top: 0;
    width: 100%;

    z-index: 10;

    color: $white;

    // Специально для плавного перехода 
    .content{
        @include paddingLeft(57);
        @include paddingRight(57);
    }

    opacity: 0;
    transform: translateY(adaptive(-30));
    transition: opacity 1.2s ease, transform 1.2s ease;

    &.animated{
        opacity: 1;
        transform: translateY(0);
    }

    &--glass{
        @include flexbox();
        justify-content: space-between;
        align-items: center;

        width: 100%;
        @include paddingLeft(23);
        @include paddingRight(23);
        @include borderRadius(175);

        @include paddingTop(13);
        @include paddingBottom(13);

        transition: background-color 0.4s ease-out, backdrop-filter 0.4s ease-out;
    }

    // Если header был перелистан активируется эффект liquid glass 
    // (если браузер поддерживает liquid glass) -> liquid-glass-apply
    // или классического blur
    // (если браузер не поддерживает liquid glass) -> liquid-glass-fallback
    &.scrolled{
        .header--glass{

            border: adaptive(1) solid transparent;
            background: 
                    linear-gradient(transparent, transparent) padding-box,
                    linear-gradient(180deg, rgba(198, 198, 198, 0.2) 0%, rgba(255, 255, 255, 0.16) 100%) border-box;

            color: $black;
        }

        .header{
            &__nav{
                &__element{
                    &::after{
                        background: $black;
                    }
                }
            }
        }

        .liquid-glass{
            // Поддержка 
            &-apply{
                background-color: rgba(226, 226, 226, 0.2);
                backdrop-filter: blur(adaptive(6)) url('#liquid-glass-filter');
                -webkit-backdrop-filter: blur(adaptive(6)) url('#liquid-glass-filter');
                
            }
            // Не поддержка
            &-fallback{
                background-color: rgba(226, 226, 226, 0.2);
                backdrop-filter: blur(adaptive(4));
                -webkit-backdrop-filter: blur(adaptive(4));
            }
        }
    }

    // 
    

    &__logo{
        @include height(42);
        @include width(202);

        &:hover{
            path{
                fill: $blue;
            }
        }

        path{
            transition: fill 0.6s ease-out;
        }
    }

    &__nav{
        @include flexbox();
        @include gap(34);
        @include paddingBottom(12);

        @include fontSize(20);
        font-family: Manrope, sans-serif;

        &__element{
            position: relative;

            @include paddingLeft(18);
            @include paddingRight(18);

            transition: color 0.6s ease-out,
                        opacity 0.6s ease-out;

            opacity: 0.6;

            &--active{
                opacity: 1;
                &::after{
                    transform: scaleX(1) !important;
                }
            }

            &::after{
                content: "";
                @include height(2);
                width: 100%;

                @include borderRadius(20);

                position: absolute;
                left: 0;
                @include bottom(-16);
                
                background: $white;
                
                transform: scaleX(0);
                transform-origin: center;
                transition: transform 0.6s ease-out,
                            background-color 0.6s ease-out;

                
            }
            &:hover{
                opacity: 1;
                &::after{
                    transform: scaleX(1);
                }  
            }
        }
    }

    &__button{
        @include height(60);
        @include fontSize(20);
    }
}


