<header>
    <div class="content">
        <div class="header__logo">
            <img src="./images/Frame.svg" alt="">
        </div>
        <nav>
            <ul class="header__nav">
                <li class="header__nav__element">
                    <a href="">
                        <p>Главная</p>
                    </a>
                </li>
                <li class="header__nav__element">
                    <a href="">
                        <p>Услуги</p>
                    </a>
                </li>
                <li class="header__nav__element">
                    <a href="">
                        <p>Кейсы</p>
                    </a>
                </li>
                <li class="header__nav__element">
                    <a href="">
                        <p>О нас</p>
                    </a>
                </li>
                <li class="header__nav__element">
                    <a href="">
                        <p>Блог</p>
                    </a>
                </li>
                <li class="header__nav__element">
                    <a href="">
                        <p>Контакты</p>
                    </a>
                </li>
            </ul>
        </nav>
        <button class="header__button">
            <p>Обсудить проект</p>
        </button>
    </div>
</header>