<footer>
    <div class="footer-container">
        <img src="./images/ellipse-1.svg" class="ellipse" alt="">
        <img src="./images/ellipse-2.svg" class="ellipse" alt="">
        <img src="./images/ellipse-3.svg" class="ellipse" alt="">
        <img src="./images/big-logo.svg" class="big-logo" alt="">
        <div class="blur-rect">
            <a href="">
                <p>Политика конфиденциальности</p>
            </a>
        </div>
        <div class="footer-content">
            <div class="footer-about">
                <div class="lazy-dev-logo">
                    <img src="./images/lazy-dev-logo.svg" alt="">
                    <img src="./images/lazy-dev-title.svg" alt="">
                </div>
                <p>© ООО «ЛЭЙЗИ ДЭВ»</p>
                <p>ИНН 2101111111</p>
                <p>ОГРН 1221100011111</p>
            </div>
            <div class="footer-info">
                <nav>
                    <div>
                        <h4>Главная</h4>
                        <ul>
                            <li>
                                <a href="">
                                    <p>О компании</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Кейсы</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Контакты</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <p>Блог</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="footer-services">
                    <h4>Услуги</h4>
                    <ul>
                        <li>
                            <a href="">
                                <p>Разработка сайта</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <p>Веб-приложения</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <p>Телеграм боты</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <p>SEO-продвижение</p>
                            </a>
                        </li>
                    </ul>
                </div>
                <address>
                    <div>
                        <h4>Контакты</h4>
                        <ul>
                            <li>
                                <a>+7 (978) 777-77-77</a>
                            </li>
                            <li>
                                <a>info@itslazydev.ru</a>
                            </li>
                        </ul>
                        <ul class="social-media">
                            <li>
                                <a href="" class="social-net-link social-net-link--dribble">
                                    <img src="./images/icons/dribble.svg" alt="Dribble Logo">
                                </a>
                            </li>
                            <li>
                                <a href="" class="social-net-link social-net-link--behance">
                                    <img src="./images/icons/behance.svg" alt="Behance Logo">
                                </a>
                            </li>
                            <li>
                                <a href="" class="social-net-link social-net-link--telegram">
                                    <img src="./images/icons/telegram.svg" alt="Telegram Logo">
                                </a>
                            </li>
                            <li>
                                <a href="" class="social-net-link social-net-link--vk">
                                    <img src="./images/icons/vk.svg" alt="VK Logo">
                                </a>
                            </li>
                        </ul>
                    </div>
                </address>
            </div>
        </div>
    </div>
</footer>