<div class="spacer--under"></div>

<section id="hero--cases" class="hero hero--linked hero--cases">
    <div class="content">
        <div class="hero__link">
            <a href="">LazyDev </a>
            <span> > </span>
            <a href=""> Кейсы</a>
        </div>
        <div class="hero__basis hero--services__basis">
            <div class="hero__text hero--services__text">
                <h1 class="hero__title">Кейсы Lazy Dev team</h1>
                <p class="hero__description">Мы берем на себя весь цикл — от аналитики до запуска и поддержки</p>
            </div>
        </div>
    </div>
</section>