<section id="clients">
    <div class="content gap-60 no-padding">
        <div class="naming">
            <div class="title">
                <div class="title__tag">clients</div>
                <h2>Наши клиенты</h2>
            </div>
            <div class="naming__desc">
                <p>Повышаем эффективность и конкурентноспособность вашей <br> компании через инновационные технологии</p>
            </div>
        </div>
        <div class="sliding">
            <div class="sliding__layer">
                <ul class="sliding__group">
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                </ul>

                <ul class="sliding__group">
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                </ul>
            </div>
            <div class="sliding__layer">
                <ul class="sliding__group">
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                </ul>

                <ul class="sliding__group">
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                    <li class="sliding__element">
                        <img src="./images/icons/small_lazy.svg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>