<div class="spacer--under"></div>

<section id="hero--services" class="hero hero--linked hero--services">
    <div class="content">
        <div class="hero__link">
            <a href="">LazyDev </a>
            <span> > </span>
            <a href=""> Услуги</a>
        </div>
        <div class="hero__basis hero--services__basis">
            <div class="hero__text hero--services__text">
                <h1 class="hero__title">Разработка цифровых <br> продуктов под бизнес-задачи</h1>
                <p class="hero__description">Мы берем на себя весь цикл — от аналитики до запуска и поддержки</p>
            </div>
            <div class="hero__b-layer hero--services__b-layer">
                <button class="button button--white button--icon button--icon--arrow width-280">
                    <p>Начать проект</p>
                </button>
                <button class="button button--white width-240">
                    <p>Наши кейсы</p>
                </button>
            </div>
        </div>
    </div>
</section>