<section id="faq">
    <div class="content gap-60">
        <div class="title">
            <div class="title__tag">FAQ</div>
            <h2>Часто задаваемые вопросы</h2>
        </div>
        <ul class="faq__accordeon accordeon">
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                        <div class="accordeon__element__arrow arrow">
                            <img src="./images/icons/arrow.svg" alt="">
                        </div>
                    </summary>
                    <div class="accordeon__element__content">
                        <p>
                            Знакомься: это брат, брат это тоже брат, брат <br> 
                            Кандидаты в мастера и мастера пера, брат <br> 
                            Новые бампера висят на старых номерах, брат <br> 
                            Нас держит любовь и то, что мы зовём «уклад», брат, вот так-то
                        </p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                        <div class="accordeon__element__arrow arrow">
                            <img src="./images/icons/arrow.svg" alt="">
                        </div>
                    </summary>
                    <div class="accordeon__element__content">
                        <p>
                            Знакомься: это брат, брат это тоже брат, брат <br> 
                            Кандидаты в мастера и мастера пера, брат <br> 
                            Новые бампера висят на старых номерах, брат <br> 
                            Нас держит любовь и то, что мы зовём «уклад», брат, вот так-то
                        </p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                        <div class="accordeon__element__arrow arrow">
                            <img src="./images/icons/arrow.svg" alt="">
                        </div>
                    </summary>
                    <div class="accordeon__element__content">
                        <p>
                            Знакомься: это брат, брат это тоже брат, брат <br> 
                            Кандидаты в мастера и мастера пера, брат <br> 
                            Новые бампера висят на старых номерах, брат <br> 
                            Нас держит любовь и то, что мы зовём «уклад», брат, вот так-то
                        </p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                        <div class="accordeon__element__arrow arrow">
                            <img src="./images/icons/arrow.svg" alt="">
                        </div>
                    </summary>
                    <div class="accordeon__element__content">
                        <p>
                            Знакомься: это брат, брат это тоже брат, брат <br> 
                            Кандидаты в мастера и мастера пера, брат <br> 
                            Новые бампера висят на старых номерах, брат <br> 
                            Нас держит любовь и то, что мы зовём «уклад», брат, вот так-то
                        </p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                        <div class="accordeon__element__arrow arrow">
                            <img src="./images/icons/arrow.svg" alt="">
                        </div>
                    </summary>
                    <div class="accordeon__element__content">
                        <p>
                            Знакомься: это брат, брат это тоже брат, брат <br> 
                            Кандидаты в мастера и мастера пера, брат <br> 
                            Новые бампера висят на старых номерах, брат <br> 
                            Нас держит любовь и то, что мы зовём «уклад», брат, вот так-то
                        </p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                        <div class="accordeon__element__arrow arrow">
                            <img src="./images/icons/arrow.svg" alt="">
                        </div>
                    </summary>
                    <div class="accordeon__element__content">
                        <p>
                            Знакомься: это брат, брат это тоже брат, брат <br> 
                            Кандидаты в мастера и мастера пера, брат <br> 
                            Новые бампера висят на старых номерах, брат <br> 
                            Нас держит любовь и то, что мы зовём «уклад», брат, вот так-то
                        </p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                        <div class="accordeon__element__arrow arrow">
                            <img src="./images/icons/arrow.svg" alt="">
                        </div>
                    </summary>
                    <div class="accordeon__element__content">
                        <p>
                            Знакомься: это брат, брат это тоже брат, брат <br> 
                            Кандидаты в мастера и мастера пера, брат <br> 
                            Новые бампера висят на старых номерах, брат <br> 
                            Нас держит любовь и то, что мы зовём «уклад», брат, вот так-то
                        </p>
                    </div>
                </details>
            </li>
        </ul>
    </div>  
</section>