<section id="faq">
    <div class="content">
        <div class="title">
            <div class="title__tag">FAQ</div>
            <h2>Часто задаваемые вопросы</h2>
        </div>
        <ul class="faq__accordeon accordeon">
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                    </summary>
                    <div class="accordeon__element__content">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                    </summary>
                    <div class="accordeon__element__content">
                        <p></p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                    </summary>
                    <div class="accordeon__element__content">
                        <p></p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                    </summary>
                    <div class="accordeon__element__content">
                        <p></p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                    </summary>
                    <div class="accordeon__element__content">
                        <p></p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                    </summary>
                    <div class="accordeon__element__content">
                        <p></p>
                    </div>
                </details>
            </li>
            <li>
                <details class="accordeon__element">
                    <summary>
                        <p class="accordeon__element__title">Что такое LazyDev?</p>
                    </summary>
                    <div class="accordeon__element__content">
                        <p></p>
                    </div>
                </details>
            </li>
        </ul>
    </div>  
</section>